<template>
  <div class="about">
   <Detail></Detail>
  </div>
</template>
<script>
  import Detail from "../components/Detail";
export default {
  name:'DetailArticle',
  components: {
    Detail
  }
}
</script>
<style>
    .about{
        background-color: #f2f7fa;
    }
</style>
