<template>
  <div class="home">
    <Home :nav-bar-value="valueReceiveForSearchBar" v-on:filtre="valueFilte"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Home from '@/components/Home.vue'

export default {
  name: 'home',
  components: {
    Home
  },data () {
    return {
      valueReceiveForSearchBar: String
    }
  },
  props: {
    searchValue: {type: String, default: ' '}
  },
  watch: {
    searchValue: function (value) {
      this.valueReceiveForSearchBar = value;
    }
  },
  methods: {

  valueFilte(value) {
    this.$emit('filtre', value);

  }
  },
  beforeMount() {
    this.valueReceiveForSearchBar = ''
  }
}
</script>

<style>
  .home{
    background-color: #f2f7fa;
    height: 1000px;
  }
</style>
