<template>
 <div width="900px">
     <b-button type="is-primary" icon-left="plus"  @click="AjoutArticle = true"></b-button>
       <b-modal :active.sync="AjoutArticle" scroll="keep">
         <div class="card2">
           <b-tabs v-model="activeTab" type="is-toggle" expanded>
             <b-tab-item label="Article">
               <b-field label="Catégorie">
                 <b-select placeholder="Selectionner la catégorie" v-model="categorieSelect">
                   <option
                     v-for="data in categories"
                     :value="data.id"
                     :key="data.id"
                     >
                     {{ data.categorie }}
                   </option>
                 </b-select>
               </b-field>
               <b-field label="Titre de l'article">
                 <b-input v-model="articleTitle"></b-input>
               </b-field>
               <b-field label="Contenue de l'article">
                 <vue-editor v-model="content" style="color: black"/>
               </b-field>
               <div class="buttons">
                 <b-button type="is-primary" @click="addArticle">Valider</b-button>
               </div>
             </b-tab-item>
             <b-tab-item label="Catégorie">
               <b-field class="file">
                 <b-upload v-model="image" @input="saveImageUrl">
                   <a class="button is-info">
                     <b-icon icon="upload"></b-icon>
                     <span>Cliquer pour ajouter l'image de la catégorie</span>
                   </a>
                 </b-upload>
                 <span class="file" v-if="image">
                   <figure class="media-left">
                    <p class="image is-64x64">
                      <img :src="categorieImageUrl" alt="">
                    </p>
                </figure>
                </span>
               </b-field>
               <b-field label="Catégorie">
               <b-input v-model="newCategorie"></b-input>
               </b-field>
               <div class="buttons">
                       <b-button type="is-primary" @click="addCategorie">Valider</b-button>
               </div>
             </b-tab-item>
           </b-tabs>
         </div>
       </b-modal>
 </div>
</template>
<script>
import { VueEditor } from "vue2-editor";
import {dataRef, db} from '../firebase.js'
import moment from 'moment'
export default {
    name: 'Admin',
 data() {
    return {
     AjoutArticle: false,
     activeTab: 0,
     showBooks: false,
     content: "",
     newCategorie: '', //variable contenant la valeur saisir par l'utilisateur
     categorieSelect: '', // variable contenant la valeur de la categorie selectionne par l'utilsteur
     categories: {}, 
     articleTitle: '',
      image: null,
      categorieImageUrl: null
   }
 },
 firebase: {
     categories: dataRef
 },
 components: {
   VueEditor
 },
 methods: {
      //Cette fonction permet de recupere l'url de l'image ajoute
   //et de la sauvegarder dans une variable
   saveImageUrl (e) {
     const imge = e;
     const reader = new FileReader();
     reader.readAsDataURL(imge);
     reader.onload = e =>{
       this.categorieImageUrl = e.target.result;
     };},
   //fonction permettant d'ajoute une categorie sur firebase
    addCategorie () {
      if(this.newCategorie.length){
        const id = dataRef.push({categorie: this.newCategorie, image: this.categorieImageUrl}).key
        dataRef.child(id).update({id: id})
        this.newCategorie = ''
        this.$buefy.toast.open({
          message: 'Categorie enregistre',
          type: 'is-success',
          position: 'is-bottom'
        })
      } else {
        this.$buefy.toast.open({
          message: 'Champ vide',
          type: 'is-danger',
          position: 'is-bottom'
        })
      }
    
   },
   //fonction permettant d'ajouter un article dans une categorie sur firebase
    addArticle() {
      const id = db.ref('artilcles').push({name: this.articleTitle, content: this.content, catId: this.categorieSelect, date: moment().format('lll')}).key;
      db.ref('artilcles').child(id).update({id: id})
      this.content = '';
      this.articleTitle = '';
      this.categorieSelect = '';
      this.$buefy.toast.open({
        message: 'Article enregistre',
        type: 'is-success',
        position: 'is-bottom'
      })
   }
 }
}
</script>

<style>
    .card2 {
    margin: auto;
    width: 50%;
    margin-top: 60px;
    background-color: aliceblue
}
</style>