<template>
    <div >Aide en ligne/<router-link :to="{name: 'home'}">Categories</router-link>
    <div class="card" id="card">
        <strong class="card-header-title" style="font-size: 3em; margin: auto">{{getart().name}}</strong>
        <h3 class="card-content">
            <p v-html="getart().content">

            </p>
        </h3>

            <div class="card" id="card-foot">
                <span class="card-content" id="footer"> Ces informations vous-ont elles ete utiles?</span>

        </div>

    </div>
    </div>
</template>

<script>
    import {db} from "../firebase";

    export default {
        name: "Detail",
        data() {
            return {
                articlesList: [],
                articleId: ''
            }
        },
        firebase: {
            articlesList: db.ref('artilcles')
        },methods: {

            getart(){
                return this.articlesList.find(art => art.id === this.articleId);
            }
        },
        beforeMount() {
            this.articleId = this.$route.params.id
        }
    }
</script>

<style >
#card{
    margin: auto;
    width: 50%;
    height: 100%;
    margin-top: 60px;
    border-radius: 2px 2px ;
    background-color: #ffffff;
}
#card-foot{
    width: 95%;
    position: relative;
    height: 50px;
    border: darkkhaki;
    background-color: #f2f7fa;
    margin: auto;
    bottom: 10px;
}
    #footer{
        position: relative;
        top: 15px;
    }
</style>