<template>
  <div class="container" id="cont">
        <div v-if="isCategorie">Aide en ligne/ <router-link :to="{name: 'home'}" class="is-active">Categories</router-link></div>
      <section class="container " id="section" v-for="item in getCategories()" :key="item.id"  @click="setIsCategorie(true)">

       <div class="card3">
           <b-collapse :open="false" aria-id="contentIdForA11y1" id="col">
               <article  class="media espace "
                         slot="trigger"
                         aria-controls="contentIdForA11y1">
                   <figure class="media-left">
                       <p class="image is-64x64">
                           <img :src="item.image" alt="">
                       </p>
                   </figure>
                   <div class="media-content">
                       <div >
                           <p>
                               <strong>{{item.categorie}}</strong>
                               <br>
                               {{articlesCat(item.id).length}} articles dans cette catégorie
                           </p>
                       </div>
                   </div>
               </article>
               <div class="espace" >
                   <div class="content espace has-background-light" v-for="art in articlesCat(item.id)" :key="art.catId" id="art">
                       <router-link :to="{ name: 'detailArticle', params: { id: art.id }}">
                           <strong>{{art.name}}</strong>
                           <br>
                           Mise à jour  {{getDate(art.date)}}
                       </router-link>
                       <div id="es"></div>
                   </div>
               </div>
           </b-collapse>
       </div>
      </section>
    </div>

</template>

<script>
import { db, dataRef} from '../firebase.js'
import moment from 'moment'
export default {
  name: 'Home',
  props: {
      navBarValue: {type: String, default: ''}
  },
  data() {
    return {
      categoriesList: [],
        articlesList: [],
        isCategorie: false,

    }
  },
  watch: {
      navBarValue: function (value) { //cette fonction de filtre la liste de donnee selon le valeur saisir dans le bar de recherche et de la rendre disponible via l'evenement filtre
          if (value) {
              const dataFilte = this.allData().filter((option) =>   option.motcle.replace(/\s+/g, '').toLowerCase().indexOf(value.replace(/\s+/g, '').toLowerCase()) >= 0);
              this.$emit('filtre', dataFilte);
          }
      }
  },
    firebase: {
        categoriesList: dataRef,
        articlesList: db.ref('artilcles')
},
  methods:  {

      articlesCat(id){
          return this.articlesList.filter(art => art.catId === id);
      },
      setIsCategorie(value){
          this.isCategorie = value
      },
      getDate(date){
          return moment(date, 'lll').lang('fr').fromNow();
      },
      allData () { //Cette fonction les liste de donnees en une seul et les organise de maniere qu'elle puisse etre identifier
          const categories = [];
          this.categoriesList.forEach(cat => {
              cat.motcle = cat.categorie;
              categories.push({
                  ...cat,
                  type: 'Categorie'
              })
          });
          const articles = [];
          this.articlesList.forEach(art => {
              art.motcle = art.name;
              articles.push({
                  ...art,
                  type: 'Article'
              })
          });
          return categories.concat(articles)
      },
      getCategories() {//renvoie la liste des categorie ou une categorie en fonction de l'existance d'un parametre dans l'url
          if (this.$route.params.id) {
              return   this.categoriesList.filter(cat => cat.id === this.$route.params.id)
          }
          return this.categoriesList
      }

  }
}
</script>

<style>
    .card3 {

        background-color: #ffffff;
        margin-top: 20px;
        width: 100%;




    }
    #cont{
        background-color: #f2f7fa;
    }
    #art{
        margin-left: 50px;
        margin-bottom: 10px;
        width: 90%;
        height: auto;
        border-radius: 5px 5px ;
    }

    #es{
        background-color: #f2f7fa;
        width: 600px;

    }

</style>