<template>
    <div class="container">

        <section class="container has-background-white">

            <div class="card3">
                <b-collapse :open="false" aria-id="contentIdForA11y1">
                    <article  class="media espace espacemargin"
                              slot="trigger"
                              aria-controls="contentIdForA11y1">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="../images/iconcall.png" alt="">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{getCat(id).categorie}}</strong>
                                    <br>
                                    {{articlesCat(getCat(id).categorie).length}} articles dans cette catégorie
                                </p>
                            </div>
                        </div>
                    </article>
                    <div class="espace">
                        <div class="content espace has-background-light" v-for="(art, y) in articlesCat(item.id)" :key="y">
                            <router-link :to="{ name: 'detailArticle', params: { id: art.id }}">
                                <strong>{{art.titre}}</strong>
                            </router-link>
                        </div>
                    </div>
                </b-collapse>
            </div>
        </section>
    </div>
</template>

<script>
import {dataRef,db} from "../firebase";

export default {
    name: "ListArticle",
    data() {
        return {
            categorieName: '',
            articlesList: [],
            categoriesList: [],
            categoryId: ''
        }
    },
    firebase: {
        categoriesList: dataRef,
        articlesList: db.ref('artilcles')
    },methods: {
        //methode retounant la liste des article d'une categorie
        articlesCat(id){
            return this.articlesList.filter(art => art.catId === id);
        },
        //methode retournant une categorie a partie de son id
        getCat(id){
            return this.categoriesList.filter(cat => cat.id === id);
        }
    },
    beforeMount() {
        this.categoryId = this.$route.params.id
    }
}
</script>