<template>
    <div>
        <nav class="navbar is-info" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/" style="background-color: floralwhite">
                    <img src="../images/logo.jpeg" width="112" height="28">
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <Admin></Admin>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="h-100 conteneur" style="background-color: #2798d8">
            <section class="section">
                <div class="container">
                    <!-- Main container -->
                    <nav class="level">
                        <!-- Left side -->
                        <div class="level-left">
                            <div class="level-item">
                                <p class="subtitle is-10 has-text-white">
                                    Comment pouvons-nous vous aider ?
                                </p>
                            </div>
                            <div class="level-item"></div>
                        </div>

                        <!-- Right side -->
                        <div class="level-right">
                            <p class="level-item has-text-white"><i class="fas fa-external-link-alt"></i></p>
                            <p class="level-item has-text-white">Aller sur Affixe2.0</p>
                        </div>
                    </nav>
                    <div class="field">
                        <b-autocomplete
                                v-model="searchInputValue"
                                :data="dataFilterReceive"
                                placeholder="Rechercher des réponses..."
                                icon="magnify"
                                field="motcle"
                                @select="option => selected = option">
                            <template slot-scope="props">
                                <figure class="media-left">
                                        <p class="image is-64x64">
                                            <i class="fas fa-newspaper fa" v-if="props.option.type == 'Article'"></i>
                                    <img :src="props.option.image" alt="" v-else >
                                            </p>
                                        </figure>
                                    <strong> {{props.option.motcle }} </strong>
                                    <br>
                                    {{props.option.type}}



                            </template>
                            <template slot="empty">Aucun résultat trouvé</template>
                        </b-autocomplete>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import Admin from './admin.vue'
export default {
    name: 'NavBar',
    data() {
        return {
            searchInputValue: String,
            selected: null,
            items: [],
            loading: false,
            timeoutId: null,
            noData: false,

        }
    },
    components: {
        Admin
    },
    props: {
      dataFilterReceive: Object
    },
    watch: {
        //fonction permettant de rendre accessible la valeur saisir
        //dans la barre de recherche
        searchInputValue: function (value) {
            this.$emit('change', value);
        },
        selected (val) {
            if (val.type === 'Article') {
                this.$router.push('/detailArticle/' + val.id)
            } else {
                this.$router.push('/' + val.id)
            }
        }
    },
    methods: {

    },
    mounted() {
        this.searchInputValue = ' ';
    }
}
</script>