<template>
  <div id="app">
    <div id="nav">
      <NavBar @change="valueChange" :data-filter-receive="dataFilte"></NavBar>
    </div>
    <router-view :search-value="search" v-on:filtre="valueFilte"/>
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue'
export default {
  components: {
    NavBar
  },
  data () {
    return {
      search: String,
      dataFilte: Object
    }
  },
  methods: {
    //Cette fonction recupere la valeur saisir
    //dans la barre de recherche via un l'evenement
    // change emit par le composant NavBar

    valueChange(value) {
      this.search = value;
    },
    //Cette fonction recupere le tableau filtre
    //de la recherche effectuer dans la barre de recherche
    //via l'evenement personnalise filtre emit par le composant Home

    valueFilte(value) {
      this.dataFilte = value;
    }
  },
  beforeMount() {
    this.search = ' '
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #f2f7fa;
}
</style>
